
@{
    ViewBag.Title = "WMS_BN_TransfersMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cols = new Zephyr.Models.sys_roleMenuColumnMapService().GetCurrentUserMenuColumns();
}

@section scripts{
    <script src="/Content/js/viewModel/com.viewModel.search.js"></script>
    <script type="text/javascript">
        var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var viewModel = function(){ 
            com.viewModel.search.apply(this,arguments);
        }
        ko.bindingViewModel(new viewModel(data));
    </script>
}

    @Html.RenderToolbar()

    <div class="container_12" style="position:relative;">
        <div class="grid_1 lbl">调拨单号</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.BillCode" class="z-txt " /></div>
        <div class="grid_1 lbl">调出仓库</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.OutWarehouseName" class="z-txt " /></div>
        <div class="grid_1 lbl">调入仓库</div>
        <div class="grid_2 val"><input type="text" data-bind="value:form.InWarehouseName" class="z-txt " /></div>

        <div class="clear"></div>
        <div class="grid_1 lbl">&nbsp;</div>
        <div class="grid_2 val">&nbsp;</div>
        <div class="clear"></div>

        <div class="prefix_9" style="position:absolute;top:5px;height:0;">  
            <a id="a_search" href="#" class="buttonHuge button-blue" data-bind="click:searchClick" style="margin:0 15px;">查询</a> 
            <a id="a_reset"  href="#" class="buttonHuge button-blue" data-bind="click:clearClick">清空</a>
        </div>
    </div>
 
    <table data-bind="datagrid:grid">
            <thead>  
            <tr>  
                <th field="ID"    sortable="true" align="left"    width="80"     hidden="true" >主键ID</th>
                <th field="BillCode"    sortable="true" align="left"    width="150"     @Html.HideColumn(Cols,"BillCode") >调拨单号</th>
                <th field="OutWarehouseCode" sortable="true" align="left" width="80" hidden="true">调出仓库ID</th>
                <th field="OutWarehouseName"    sortable="true" align="left"    width="150"     @Html.HideColumn(Cols,"OutWarehouseName") >调出仓库</th>
                <th field="InWarehouseCode" sortable="true" align="left" width="80" hidden="true">调入仓库ID</th>
                <th field="InWarehouseName"    sortable="true" align="left"    width="150"     @Html.HideColumn(Cols,"InWarehouseName") >调入仓库</th>
                <th field="ApproveState"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"ApproveState") >审批状态</th>
                <th field="ApprovePerson"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"ApprovePerson") >审批人</th>
                <th field="ApproveTime"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"ApproveTime") >审批时间</th>
                <th field="Remark"    sortable="true" align="left"    width="80"     @Html.HideColumn(Cols,"Remark") >备注</th>
                <th field="IsEnable"    sortable="true" align="left"    width="80" formatter="com.formatCheckbox"    @Html.HideColumn(Cols,"IsEnable") >是否可用</th>
                <th field="CreatePerson"    sortable="true" align="left"    width="80"     hidden="true" >创建人</th>
                <th field="CreateTime"    sortable="true" align="left"    width="80"     hidden="true" >创建时间</th>
                <th field="ModifyPerson"    sortable="true" align="left"    width="80"     hidden="true" >更新人</th>
                <th field="ModifyTime"    sortable="true" align="left"    width="80"     hidden="true" >更新时间</th>
            </tr>                            
        </thead>      
    </table>
 
